body {
  text-align: center;
}
form {
  display: inline-block;
}
table {
  display: inline-block;
  border-collapse: collapse;
  margin: 0 auto;
}
td, th {
  border: 1px solid black;
}

th {
  height: 50px;
}