<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Document</title>
</head>
<body>
  <h1>Display All Student</h1>
  <table>
    {% for student in student_data %}
      <tr>
        {% for per_std in student %}
          <td>{{per_std}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</body>
</html>