<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Document</title>
</head>
<body>
  <div>
    <button class="button1"><a href="{% url 'addstudent' %}">Add Student</a></button>
    <button><a href="{% url 'displayallstudent' %}">Display All Students</a></button>
    <button><a href="{% url 'searchstudent' %}">Search Student</a></button>
  </div>
</body>
</html>